.CitySearch {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.SearchTitle {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    color: black;
    font-weight: bolder;
    font-size: small;
    font-family: 'Dosis', sans-serif;
}

.TitleContainer{
    display: flex;
    margin-top: 15px;
}