.CitySearch {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.SearchTitle {
    font-size: x-small;
    width: fit-content;
    color: black;
    font-weight: bolder;
    font-family: 'Dosis', sans-serif;
}