.DateSearch {
    height: 90%;
    width: 14%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.DatePicker {
    height: 39px;
    width: 140px;
    border: 2px solid lightgrey;
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
}

.DateTitle {
    height: 30px;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: small;
    width: fit-content;
    color: black;
    font-family: 'Dosis', sans-serif;

}
