.Toolbar {
    display: flex;
    height: 100px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.LogoButton {
    height: 69px;
    width: 220px;
    padding: 10px;
    margin-right: 10px;
    border: 1px;
    border-radius: 5px;
    color: White;
    font-size: larger;
    font-weight: bold;
    background-color: Transparent;
    background-size: 100%;
    background-image: url('../resources/images/logo_white.png');

}

.ToolbarLeft{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.TabsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LoginButtonContainer{
    margin-top: 15px;
    width: 130px;
}
.LoginButton{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 160px;
    padding: 10px;
    margin-right: 10px;
    border: 1px;
    border-radius: 5px;
    background-color: rgb(112,172,244);
    color: white;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
}

.HadjButton{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 110px;
    padding: 10px;
    margin-right: 5px;
    border: none;
    outline:none;
    background-color: Transparent;
    color: white;
    font-size: 23px;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    font-family: 'Dosis', sans-serif;
}

.ButtonClicked{
    color: royalblue;
    border-bottom: 2px solid;
}

.ButtonNotClicked{
    color: white;
}