.Toolbar {
    display: flex;
    height: 90px;
    width: 1000px;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.LogoButton {
    height: 80%;
    width: 220px;
    padding: 10px;
    margin-right: 10px;
    border: 1px;
    border-radius: 5px;
    color: White;
    font-size: larger;
    font-weight: bold;
    background-color: Transparent;
}

.ToolbarLeft{
    display: flex;
    flex-direction: row;
    width: 450px;
}

.LoginButton{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 130px;
    padding: 10px;
    margin-right: 10px;
    border: 1px;
    border-radius: 5px;
    background-color: rgb(112,172,244);
    color: white;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.HadjButton{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100px;
    padding: 10px;
    margin-right: 5px;
    border: 1px;
    background-color: Transparent;
    color: white;
    font-size: large;
    font-weight: normal;
    text-align: center;
    display: inline-block;
}

.ButtonClicked{
    color: royalblue;
    border-bottom: 2px solid;
}

.ButtonNotClicked{
    color: white;
}