.Result {
    display: flex;
    flex-direction: row;
    height: 240px;
    width: 95%;
    margin-top: 2%;
    margin-left: 2.5%;
    margin-bottom: 2%;
    resize: none;
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 3px;
}

#Result:hover {
    border-color: darkgrey;
}

div.FlyingCompanyColumn > img {
    max-width: 100%;
    max-height: 100%;
}

.img {
    flex:1
}

.FlyingCompanyColumn {
    alignItems:center;
    flex-direction: column;
    width: 35%;
    background-size: cover;
}

.ResultDetailsColumn {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.TitleRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1.5;
}
.TitleText{
    margin-left: 10px;
    font-size: 1.7vw;
    color: red;
    font-weight: bold;
}

.ElementaryRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    flex: 0.75;
}



.DestinationRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 0.75;
}

.DestinationText{
    margin-top: 2%;
    margin-left: 10px;
    font-size: 0.8vw;
    color: black;
    font-weight: bold;
}
.icon{
    margin-left: 10px;
}
.AgencyColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 0.75;
}

.AgencyName{
    margin-left: 10px;
    font-size:1.3vw;
}



.PriceText{
    margin-right: 10px;
    font-size: 1.4vw;
    color: red;
    font-weight: bold;
}

.PriceDetails{
    font-weight: lighter;
    font-size: small;
    color: grey;
    margin-right: 10px;
    font-size:1vw;
}

.HotelInfo {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.HotelName{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size:1.5vw;
}

.HotelStars{
    margin-left: 10px;
}

.HotelOptions{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: flex-start;
    font-size:1vw;
}

.OfferDuration{
    font-weight: bold;
}
.AgencyLogoRow{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-right: 3%;
    flex: 2;
}

.OfferDetails{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.PriceColumn {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.ReducedPriceColumn {
    display: flex;
    flex-direction: row;
}

.OriginalPriceColumn {
    display: flex;
    flex-direction: row;
}

.OriginalPriceText{
    margin-right: 10px;
    font-size: 0.9vw;
    color: red;
    font-weight: bold;
}
.DetailsButtonColumn {
    margin-right: 3%;
    background-color: white;
    width: 30%;
}

.buttonOfferDetails {
    margin-right: 10px;
    height: 30px;
    width: 100%;
    border: 1px;
    border-radius: 5px;
    background-color: green;
    font-weight: bold;
    font-size: medium;
    color: white;
}



.AgencyLogoPriceColumn{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.checked {
    color: orange;
}

.CityInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
