.Result {
    display: flex;
    flex-direction: row;
    height: 194px;
    width: 95%;
    margin-top: 2%;
    margin-left: 2.5%;
    margin-bottom: 2%;
    resize: none;
}

.img {
    flex:1
}
.FlyingCompanyColumn {
    alignItems:'center';
    flex-direction: column;
    background-color: burlywood;
    width: 30%;
    background-size: cover;
}

.ResultDetailsColumn {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 50%;
}

.PriceColumn {
    flex-direction: column;
    background-color: blueviolet;
    width: 20%;
}

.CityInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.HotelInfo {
    display: flex;
    margin-left: 15px;
    justify-content: flex-start;
}
