.Main {
    background-image: url('../resources/images/main_background_image_bis.png');
    height: 850px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}