.Main {
    background-image: url('main_background_image.jpg');
    height: 1000px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}