.Filters {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.4);
}

.date-picker{
    height: 38px;
    border: 2px solid lightgrey;
    padding: 10px;
    border-radius: 5px;
    height: 30%;
}

.date-picker-container {
    flex: 0.4;

}