.ResultBody {
    display: flex;
    flex-direction: column;

}

.ResultMain {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    margin-left: 12%;
    overflow-y: scroll;
    width: 80%;
}